<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinovotec.sinovoble" >
    <!-- BLE权限 -->
    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 5.0以上的手机可能会需要这个权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- 在官方新版本修复前，暂时手动修复org.eclipse.paho.android.service的Bug：Android version 31上PendingIntent FLAG_IMMUTABLE异常-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>


    <application>
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <service  android:name=".common.DfuService"
            android:exported="false">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>


</manifest>

